# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
misc/

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# PEP 582; used by some tools like `python3 -m pyflow`
__pypackages__/

# Virtual environments
venv/
env/
.venv/
.env/

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac / Unix / Windows system files
.DS_Store
Thumbs.db

